@model IEnumerable<Web.DBModels.Agencia>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var message = TempData["BUSINESSERROR"] ?? string.Empty;
}

<h1 class="text-center">Lista de Agências</h1>

<p class="text-center">
    <a asp-action="Create" class="btn btn-lg btn-primary">Incluir Nova Agência</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> <br />
                <a asp-action="Details" asp-route-id="@item.Id">Detalhar</a> <br />
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    if ('@message' !== '') {
        alert('@Html.Raw(message)');
    }
</script>
