@model Web.DBModels.Servico

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Você realmente quer deletar esse cliente?</h3>
<div>
    <h4>Informações</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransferIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransferIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioVoo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorarioVoo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroVoo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroVoo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Companhia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Companhia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataVoo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataVoo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Saida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Saida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdPassageiros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdPassageiros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Veiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Veiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataServico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataServico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Cpf)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-warning">Cancelar</a>
    </form>
</div>
